<head>
  <!-- responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />

  <!-- title -->
  <title>Product Details</title>


  <!-- meta-description -->
  <meta name="description" content="meta description" />

  <!-- google font css -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=<%= fontPrimary %>&display=swap" rel="stylesheet" />


  <!-- Main Stylesheet -->
  <link href="styles/main.css" rel="stylesheet" />
</head>